body {
    background-image: url("https://mcdn.wallpapersafari.com/medium/27/29/YHuA6Q.jpg");
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    
  }
  
  div {
    max-with: 100% - 80px;
    left: 80px;
  }
  p { margin-top:10px ; margin-bottom:10px; margin-left:40px;
    margin-right:40px; color:blue ;}

  h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Geneva, Tahoma, sans-serif;
    padding: 50% 10px;
    text-align: center;
    padding: 30px 5px;
    color: #660066;
  }
section {
  width: 450px;
  height: 450px;  
  display: table;
}
  