body {
    background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/63/46/ZRUaIh.jpg");
    background-position: center;
    background-attachment: scroll;
    
  }
  
  div {
    max-with: 100% - 60px;
    left: 60px;
  }
  
  h1 {
    font-family: monospace;
    padding: 50% 10px;
    text-align: center;
    padding: 25px 5px;
    color: #660066;
  }

  